<%= form_for shipping, html: { class: "form-horizontal" } do |form| %>
  <%= render "shared/error_messages", object: shipping if shipping.errors.any? %>

  <div class="form-group">
    <%= form.label :receiver_name, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :receiver_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :receiver_phone, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :receiver_phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :shipping_address , class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :shipping_address, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :shipping_day, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.datetime_field :shipping_day, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
