<div class="container">
  <h2>Shipping #<%= @shipping.id %></h1>
  <p>Back to shippings <%= link_to "here", root_path %></p>

  <table class="table">
    <tbody>
      <tr>
        <th>Receiver Name</th>
        <td><%= @shipping.receiver_name %></td>
      </tr>
      <tr>
        <th>Receiver Phone</th>
        <td><%= @shipping.receiver_phone %></td>
      </tr>
      <tr>
        <th>Shipping Address</th>
        <td><%= @shipping.shipping_address %></td>
      </tr>
      <tr>
        <th>Shipping Day</th>
        <td><%= @shipping.shipping_day %></td>
      </tr>
    </tbody>
  </table>
</div>
