<p id="notice"><%= notice %></p>

<p>
  <strong>Receiver name:</strong>
  <%= @shipping.receiver_name %>
</p>

<p>
  <strong>Receiver phone:</strong>
  <%= @shipping.receiver_phone %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @shipping.shipping_address %>
</p>

<p>
  <strong>Shipping day:</strong>
  <%= @shipping.shipping_day %>
</p>

<%= link_to 'Edit', edit_shipping_path(@shipping) %> |
<%= link_to 'Back', shippings_path %>
