<h3>Receiver Step</h3>

<%= render "shared/error_messages", object: shipping if shipping.errors.any? %>

<%= hidden_field_tag "current_step", "receiver" %>

<div class="form-group">
  <%= form.label :receiver_name, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= form.text_field :receiver_name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :receiver_phone, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= form.text_field :receiver_phone, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="row">
      <div class="col-xs-6 text-left">
        <div class="previous">
          <%= form.submit "Prev Step", name: "pre_step", class: "btn btn-primary", disabled: true %>
        </div>
      </div>

      <div class="col-xs-6 text-right">   
        <div class="next">
          <%= form.submit "Next Step", name: "next_step", class: "btn btn-primary" %>
        </div>
      </div>
    </div
  </div>
</div>
